# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore secrets and environment files
.env
.env.local

# Ignore version control and IDE-specific files
.git
.gitignore
.vscode

# Ignore build output from a previous build
.next

# Ignore local files
README.md